body {
  font-family: "Courier New", Courier, monospace;
  background: #f7daa6;
  margin: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin: 25px;
}

.footer {
  color: #534b4f;
}

img {
  max-width: 100%;
  display: block;

  margin: 40px auto;
}
